PACK_NAME="1.10.2_forge_forever_stranded-2.0.9"
MOTD="Forever Stranded Version 2.0.9"
SERVER_PORT="25565"
RCON_PWD="change_me"
RCON_HOST="127.0.0.1"
RCON_PORT="25575"
JAVA_ARGS="-Xmx6G -Xms6G"
RESTART_INTERVAL="24h"
BACKUP_ENABLED="true"
BACKUP_DIR="./backups"
