PACK_NAME="docker_1.21.1_neo_forge_fractured_opolis-1.0"
MOTD="Fractured Opolis Version 1.0"
SERVER_PORT="25565"
RCON_PWD="change_me"
RCON_HOST="127.0.0.1"
RCON_PORT="25575"
MEMORY="6G"
JAVA_ARGS=""
SERVER_DIR="./server"
RESTART_INTERVAL="24h"
BACKUP_ENABLED="true"
BACKUP_DIR="./backups"
